{% extends "admin_base.html" %}

{% block title %}Admin Dashboard{% endblock %}
{% block links %}<link rel="stylesheet", href="{{ url_for('static', filename='css/ad_dshb_trans.css') }}">{% endblock %}

{% block content %}

<h2>Admin Dashboard</h2>
<p>Use the links above to manage subjects, chapters, quizzes, and users.</p>

<div class="mt-4 v-cloak" id="app">
    <div class="container">
        <div v-if="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Error: {% raw %} {{ error }} {% endraw %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="container">
        <div v-if="success" class="alert alert-success alert-dismissible fade show" role="alert">
            Success:{% raw %} {{ success }} {% endraw %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
            
    <!--Clickable Header-->
    <div class="click-row py-2 text-center" @click="togglePanel" :class="{ open: panelOpen }">
        <strong>Subjects Menu</strong>
    </div>
    <!--Slideale Panel-->
    <transition name="slide-fade">
        <div v-if="panelOpen" class="panel p-4">
            <div class="row g-3">
                <div v-if="!subjects.length" class="text-center text-muted w-100">
                    <p style="color: white;">No Subjects Yet? </p><a href="/admin/subjects/create">Create Subjects</a>
                </div>
        
        <!-- For Goes Here--> <!--  {% raw %}{% endraw %} -->

                <div v-for="subject in subjects" :key="subject.id" class="col-12 col-sm-6 col-md-4">
                    <div class="card text-bg-secondary border-black " style="width: 350px; margin-top: 15px; margin-left: 5px; margin-right: 5px;box-shadow: 0 4px 12px rgba(0,0,0,0.8);">
                        <div class="card-body border-black">
                            <h5 class="card-title"> {% raw %}{{ subject.name }}{% endraw %}</h5>
                            <p class="card-text">{% raw %}{{ subject.desc }}{% endraw %}</p>
                        </div>

                        <div class="card-footer border-black">
                            <div class="row" style="margin-bottom: 5px;">
                                <div class="col">
                                    <a :href="'/admin/subjects/' + subject.id + '/chapters/create'" class="card-link link-warning">Create Chapter</a>
                                </div>
                                <div class="col">
                                    <a :href="'/admin/subjects/' + subject.id" class="card-link link-info">View Subject</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-warning mx-1 btn-sm" title="Update">
                                        <a :href="'/admin/subjects/update/' + subject.id"><img src="{{ url_for('static', filename='update.png') }}" style="height: 25px; width: 25px;"></a>
                                    </button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-sm btn-danger" @click="confirmDelete(subject.id)">
                                        <img src="{{ url_for('static', filename='delete-295.png.') }}" style="height: 25px; width: 25px;">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="/admin/subjects/create">+ Create Subjects</a>
                </div>
            </div>
        </div>
  </transition>
  
  
  <div class="content-wrapper" :style="contentCalc">
    <h1>Tester</h1>
  </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/admin_dash.js') }}"></script>

{% endblock %}