{% extends "admin_base.html" %}

{% block title %}View Quiz{% endblock %}

{%block content%}
<div class="container mt-4" id="app">
    <div class="container">
        <div v-if="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Error: <span v-text="error"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="container">
        <div v-if="success" class="alert alert-success alert-dismissible fade show" role="alert">
            Success: <span v-text="success"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    
    <div style="margin-bottom: 10px;">
        <button @click="goBack" class="btn btn-secondary">← Back</button>
    </div>
    <h2>Chapter Name: <span v-text="quizObj.name"></h2>
    <h3>Quiz Total: <span v-text="total"></span></h3>
    <br>
    <div style="margin-top: 15px;">
        <a :href="'/admin/quizzes/' + quizObj.id + '/questions/create'">+ Create Question</a>
    </div>

    <div v-if="!Questions.length" class="text-center text-muted w-100">
        <p style="color: white;">No Questions Yet? </p><a :href="'/admin/quizzes/' + quizObj.id + '/questions/create'">Create Questions</a>
    </div>
    <!--class="col-12 col-sm-6 col-md-4"-->
    <div class="row row-cols-2">
        <div v-for="(ques, ind) in Questions" :key="ques.id" class="col">
                <div class="card text-bg-secondary border-black col" style=" margin-top: 15px; margin-left: 5px; margin-right: 5px;box-shadow: 0 4px 12px rgba(0,0,0,0.8); width: 500px;">
                    <div class="card-body border-black">
                        <div class="row">
                            <div class="col"><h5 class="card-title"> Question <span v-text="ind+1"></span>: <span v-text="ques.statement"></span></h5></div>
                            <div class="col" style="text-align: right; font-size: 20px;">[<span v-text="ques.marks"></span>]</div>
                             
                        </div>
                        <ul>
                            <div class="mb-4" v-for="opt in ques.options">
                                <li v-text="opt"></li>
                            </div>
                        </ul>
                        <br>
                        <div class="col">Correct Option: [<span v-text="ques.correct"></span>]</div>
                    </div>
                    <div class="card-footer border-black"> 
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-warning mx-1 btn-sm" title="Update">
                                    <a :href="'/admin/questions/update/'+ques.id"><img src="{{ url_for('static', filename='update.png') }}" style="height: 25px; width: 25px;" class="link link-secondary">Update</a>  
                                </button>

                            </div>
                            <div class="col">
                                <button class="btn btn-sm btn-danger" @click="confirmDelete(ques.id)">
                                    <img src="{{ url_for('static', filename='delete-295.png') }}" style="height: 25px; width: 25px;">Delete
                                </button>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/view_quiz.js') }}"></script>


{% endblock %}
