{% extends "admin_base.html" %}

{% block title %}View User Data{% endblock %}

{%block content%}
<div class="container mt-4" id="app" v-cloak>
    <div class="container">
        <div v-if="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Error: <span v-text="error"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div>
        <button @click="goBack" class="btn btn-secondary">← Back</button>
    </div>

    <div v-if="!scores.length" class="text-center text-muted w-100">
        <p style="color: white;">No Attempts </p>
    </div>

    <div>
        <ul class="list-group list-group-flush" >
            <li class="list-group-item text-bg-secondary border-black" v-for="(s,ind) in scores" :key="s.sid" style="margin-top: 15px; margin-left: 5px; margin-right: 5px;box-shadow: 0 4px 12px rgba(0,0,0,0.8);">
                <p >Quiz Name: <span v-text="s.quiz"></span></p>
                <p >Attempt Start: <span v-text="s.start"></span></p>
                <p><span v-text="s.end"></span></p>
                <p>Marks Scores: <span v-text="s.scored"></span>/<span v-text="s.total"></span></p>
            </li>
        </ul>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/view_user_data.js') }}"></script>

{% endblock %}