{% extends "user_base.html" %}

{% block title %}User Dashboard{% endblock %}
{% block links %}{% endblock %}

{% block content %}


<div class="container mt-4" id="app"  data-user-id="{{ current_user.user_id }}">
    <div class="container">
        <div v-if="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Error: <span v-text="error"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="container">
        <div v-if="success" class="alert alert-success alert-dismissible fade show" role="alert">
            Success: <span v-text="success"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <h2>Enrolled Quizzes</h2>
    <div v-if="!Enrollments.length" class="text-center text-muted w-100">
        <p style="color: white;">No Enrollments Yet? </p><a href="/user/to_enroll">View Enrollments</a>
    </div>
    <div class="row row-cols-3">
        <div v-for="enroll in Enrollments" :key="enroll.id" class="col-md-4 mb-4">
            <div class="card text-bg-secondary border-black " style="width: 350px; margin-top: 15px; margin-left: 5px; margin-right: 5px;box-shadow: 0 4px 12px rgba(0,0,0,0.8);">
                <div class="card-body border-black">
                    <h5 class="card-title"> <span v-text="enroll.name"></span></h5>
                    <p class="card-text">Time Allotted: <span v-text="enroll.time"></span> Minutes</p>
                    <p class="card-text">Date: <span v-text=" enroll.date"></span></p>
                </div>
    
                <div class="card-footer border-black">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-warning mx-1 btn-sm" title="Attempt">
                                <a :href="'/user/preparation/'+enroll.id" style="height: 25px; width: 25px;">Attempt Quiz</a>
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-info mx-1 btn-sm" title="Info">
                                <a :href="'/user/scores/'+enroll.id" style="height: 25px; width: 25px;">View Score</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3>Data Center</h3>
        <button @click="triggerExport" class="btn btn-primary">Export Quiz Data as CSV</button>
    </div>
    
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/user_dash.js') }}"></script>
<script>
    
</script>

{% endblock %}