<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Dashboard{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet", href="{{ url_for('static', filename='css/asset.css') }}">
    {% block links %}{% endblock %}

    <style>
        body {
            background-color: #212229;
            color: white;
        } 

        .navbar-custom {
            background-color: #000000; 
        }
        .navbar .nav-link,
        .navbar .navbar-brand,
        .navbar .form-control,
        .navbar {
            color: white;
        }
        .navbar .nav-link:hover,
        .navbar .navbar-brand:hover {
            color: #cfcfcf;
        }

    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-custom px-4"  style="border-bottom: solid 5px transparent; border-image: linear-gradient(to right, rgb(16, 24, 134), rgb(43, 50, 150)); border-image-slice: 1;">
        <div class="container-fluid">
            <!--Left Links-->
            <div class="navbar-nav me-auto">
                <a class="nav-link" href="/user/to_enroll">View All Quizzes</a>
                <a class="nav-link" href="{{ url_for('main.user_scores_all') }}">View Quiz Scores</a>
                <a class="nav-link" href="{{ url_for('main.user_dashboard') }}">To Dashboard</a>
            </div>

            <!-- Center search (TBA) -->
            <div id="user-search" style="margin-right: 10px;">
                <form @submit.prevent="userSearch" class="d-flex">
                    <input id="search-input" placeholder="Search Quizzes" class="form-control form-control-sm" style="color: #000000;"/>
                    <button type="submit" class="btn btn-success btn-sm" style="margin-left: 5px;">Search</button>
                </form>
            </div>

            <!-- Right side: --> <!--{% block user %}{% endblock %}-->
            <div class="d-flex align-items-center gap-3">
                <div id="user-greeting" class="text-light">
                Welcome,&nbsp;<span v-if="user" v-text="user.username"></span>
                </div>                
                <a class="btn btn-sm btn-danger" href="{{ url_for('main.logout') }}">Logout</a>
                <span class="navbar-brand ms-3">QuizMaster</span>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-4">
        {% block content %}

        {% endblock %}
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        //const { createApp, ref, onMounted }=Vue;
        createApp({
            setup(){
                const user=ref("")

                onMounted(async () => {
                    try {
                        const response=await axios.get('/api/users/me')
                        user.value=response.data
                    } catch(err) {
                        console.log(err)
                    }
                })

                return {user}
            }
        }).mount("#user-greeting");

        createApp({
            setup() {
            const query = ref("");

            const userSearch =async () => {
                const input = document.querySelector("#search-input");
                const value = input?.value || "";
                console.log("Submitted query:", value);
                query.value = value;
                
                try {
                   const response=await axios.get('/api/user/search',{params: { q: query.value }} )
                   window.location.href=`/user/search/results?q=${encodeURIComponent(query.value)}`;
                } catch(err) {
                    console.error(err)
                }
            };

            return { userSearch, query };
            }
        }).mount("#user-search");
    </script>
</body>
</html>